[
  {
    "name": "gpt4o",
    "description": "gpt-4o-2024-11-20",
    "type": "AZURE_OPEN_AI",
    "endpoint": "https://rt-demo-oai.openai.azure.com/",
    "deployment": "gpt-4o",
    "key": "From .credentials.json",
    "api": "2025-01-01-preview"
  },
  {
    "name": "gpt4.1",
    "description": "gpt-4.1",
    "type": "AZURE_OPEN_AI",
    "endpoint": "https://rt-demo-oai.openai.azure.com/",
    "deployment": "gpt-4.1",
    "key": "From .credentials.json",
    "api": "2025-01-01-preview"
  }
]
